
.login-page {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;

  .auth-tab {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    top: 30%;
  }


  mat-card {
    display: flex;
    flex-direction: column;
  }

  mat-error {
    margin: 15px auto;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
  }
}

