<div class="login-page">
  <mat-tab-group class="auth-tab">
    <mat-tab label="Login" class="tab">


      <mat-card>
        <mat-card-content class="card-content">

          <form [formGroup]="loginForm"
                class="auth-form"
                #form="ngForm"
                (ngSubmit)="logIn(loginForm.value)">

            <mat-form-field class="full-width">

              <input matInput
                     type="email"
                     placeholder="Email"
                     formControlName="email">

            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput
                     placeholder="Password"
                     type="password"
                     formControlName="password">
            </mat-form-field>
            <mat-error *ngIf="error">{{error}}</mat-error>
            <button mat-raised-button
                    color="primary"
                    [disabled]="!loginForm.valid"
                    type="submit">Login</button>
          </form>

        </mat-card-content>
      </mat-card>


    </mat-tab>
    <mat-tab label="Register">Content 2</mat-tab>
  </mat-tab-group>
</div>
