<div class="container">

  <mat-error *ngIf="error">{{ error }}</mat-error>
  <mat-card [ngClass]="{submitting: submitting}">

    <form [formGroup]="createBookForm" (ngSubmit)="addBook()">
      <div class="row">

        <div class="col-6">

          <mat-form-field class="full-width">
            <input type="text" matInput formControlName="clientTitle" placeholder="Title">
          </mat-form-field>

          <mat-form-field class="full-width">
            <textarea matInput formControlName="description" placeholder="Description"></textarea>
          </mat-form-field>

        </div>

        <div class="col-6">

          <mat-form-field class="full-width">
            <input type="text" matInput formControlName="author" placeholder="Author">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="text" matInput formControlName="pages" placeholder="Amount of pages">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="pickYear" placeholder="Year of publication" formControlName="year">
            <mat-datepicker-toggle matSuffix [for]="pickYear"></mat-datepicker-toggle>
            <mat-datepicker #pickYear></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="centered full-width">
          <button mat-raised-button
                  [disabled]="!createBookForm.valid"
                  color="primary"
                  type="submit">Add book</button>
        </div>

        <mat-progress-bar mode="indeterminate"
                          class="spinner"
                          [hidden]="!submitting"></mat-progress-bar>

      </div>
    </form>
  </mat-card>

</div>
