.profile {
  margin: 25px auto;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #424242;
  max-width: 850px;
  min-width: 400px;

}

.profile-2 {
  max-width: 400px;
}

.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
