@import '~@angular/material/theming';
@include mat-core();

$mat-light-blue: (
  50: #E0F2F1,
  100: #B2DFDB,
  200: #80CBC4,
  400: #26A69A,
  500: #009688,
  600: #00897B,
  700: #00796B,
  800: #00695C,
  900: #004D40,
  A100: #A7FFEB,
  A200: #64FFDA,
  A400: #1DE9B6,
  A700: #00BFA5,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);

$app-accent:  mat-palette($mat-blue-grey);
$app-primary: mat-palette($mat-light-blue);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);


$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
